.activity {
  background-color: #8ecae6;
  margin: 1rem;
  padding: 0.6rem;
  color: #f1faee;
  text-align: left;
}
.activity_dos {
  background-color: #457b9d;
  margin: 0.5rem;
  padding: 0.5rem;
}
